.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
/* .menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
} */

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.clip-thumbnail {
  position: relative;
}

.clip-thumbnail .clipContent:hover {
  background: #ddd;
}

.clip-thumbnail .clipContent.clipSelected:hover {
  background: #999;
}

.btn-clip-edit {
  position: absolute;
  left: 0;
  background: none;
  color: #000;
  border: none;
}

.btn-clip-delete {
  position: absolute;
  right: 0;
  background: none;
  color: #000;
  border: none;
}

.clip-thumbnail .clipContent {
  width: 100px;
  display: grid;
  border-style: solid;
  border-width: 1px;
  margin: 3px;
  border-color: #999;
  padding: 5px;
  text-align: center;
  padding-top: 25px;
  border-radius: 5px;
}

.clip-thumbnail .clipContent.clipSelected {
  background: #999;
}

.clip-thumbnail img {
  width: 100%;
}

.clip-thumbnail label.clipTitle {
  text-align: center;
  font-size: 17px;
  white-space: initial;
}

.clip-thumbnail label.clipSubtitle {
  font-size: 15px;
  white-space: initial;
}

.clip-thumbnail label.clipTags {
  font-size: 12px;
  color: #999;
  white-space: initial;
}

.player-container {
  position: relative;
}

.player-container .loading-next-video {
  position: absolute;
  right: 0;
  width: 75px;
  height: 75px;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

.player-container .loading-next-video img {
  width: 100%;
}

.player-section {
  margin-top: 15px;
}
.new-clip-form {
  border: solid 1px #999;
  border-radius: 5px;
  padding: 5px 10px;
}
.list-clips {
  margin-top: 15px;
  border: solid 1px #999;
  border-radius: 5px;
  padding: 15px;
}

.search-section {
  margin-bottom: 15px;
}
